<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>VPS 搭建 Shadowsocks 翻墙.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>533039190.43379802</real>
				<key>lastModification</key>
				<real>533039190.43379802</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>filter配置跨域访问.md</key>
			<dict>
				<key>lastModification</key>
				<real>533038586.21491498</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>hello-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>533038586.21491599</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>手把手搭建Hexo+OSChina博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>533038586.214917</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>533038599.33516902</real>
				<key>lastModification</key>
				<real>533038599.33516902</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>532860435.03196299</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>filter配置跨域访问.md</string>
		</array>
		<array>
			<string>VPS 搭建 Shadowsocks 翻墙.md</string>
		</array>
		<array>
			<string>hello-world.md</string>
		</array>
		<array>
			<string>手把手搭建Hexo+OSChina博客.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
			<integer>13</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
