<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Centos7.0 中的中iptables、firewall和SELINUX.md</key>
			<dict>
				<key>lastModification</key>
				<real>534417256.88399202</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>Docker安装oracle.md</key>
			<dict>
				<key>lastModification</key>
				<real>536752661.92102301</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>Docker常用命令.md</key>
			<dict>
				<key>lastModification</key>
				<real>534751587.273996</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>Git撤销&amp;回滚操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>534307037.87491602</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>Mac系统安装PHP7教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>534154875.244811</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>React总结.md</key>
			<dict>
				<key>lastModification</key>
				<real>534329716.04420799</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>[转]全文搜索引擎 Elasticsearch 入门教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>533705802.54487801</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>componentWillReceiveProps详解（this.props）状态改变检测机制.md</key>
			<dict>
				<key>lastModification</key>
				<real>535370744.39040297</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>filter配置跨域访问.md</key>
			<dict>
				<key>lastModification</key>
				<real>533038586.21491498</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>git reset revert 回退回滚取消提交返回上一版本.md</key>
			<dict>
				<key>lastModification</key>
				<real>534305134.08832097</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>git教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>533696677.22357601</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>nrm -- NPM registry 管理工具.md</key>
			<dict>
				<key>lastModification</key>
				<real>534845481.71574003</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>react引入antd.md</key>
			<dict>
				<key>lastModification</key>
				<real>535546199.53261203</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>98</integer>
				</dict>
			</dict>
			<key>安装 node-sass 的正确姿势 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>533798841.58909303</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>快速掌握dockerfile.md</key>
			<dict>
				<key>lastModification</key>
				<real>534733068.16119999</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>手把手搭建Hexo+OSChina博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>533038586.214917</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>把项目同时托管到github和oschina.md</key>
			<dict>
				<key>lastModification</key>
				<real>535423540.59615099</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>搭建ShadowSocks.md</key>
			<dict>
				<key>lastModification</key>
				<real>534668008.71126097</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>解决 mac （windows）终端上代理的难题.md</key>
			<dict>
				<key>lastModification</key>
				<real>534754021.82089001</real>
				<key>version</key>
				<dict>
					<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
					<integer>66</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>532860435.03196299</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Docker安装oracle.md</string>
		</array>
		<array>
			<string>react引入antd.md</string>
		</array>
		<array>
			<string>把项目同时托管到github和oschina.md</string>
		</array>
		<array>
			<string>componentWillReceiveProps详解（this.props）状态改变检测机制.md</string>
		</array>
		<array>
			<string>nrm -- NPM registry 管理工具.md</string>
		</array>
		<array>
			<string>解决 mac （windows）终端上代理的难题.md</string>
		</array>
		<array>
			<string>Docker常用命令.md</string>
		</array>
		<array>
			<string>快速掌握dockerfile.md</string>
		</array>
		<array>
			<string>搭建ShadowSocks.md</string>
		</array>
		<array>
			<string>Centos7.0 中的中iptables、firewall和SELINUX.md</string>
		</array>
		<array>
			<string>React总结.md</string>
		</array>
		<array>
			<string>Git撤销&amp;回滚操作.md</string>
		</array>
		<array>
			<string>git reset revert 回退回滚取消提交返回上一版本.md</string>
		</array>
		<array>
			<string>Mac系统安装PHP7教程.md</string>
		</array>
		<array>
			<string>[转]全文搜索引擎 Elasticsearch 入门教程.md</string>
		</array>
		<array>
			<string>filter配置跨域访问.md</string>
		</array>
		<array>
			<string>安装 node-sass 的正确姿势 - 2.md</string>
		</array>
		<array>
			<string>手把手搭建Hexo+OSChina博客.md</string>
		</array>
		<array>
			<string>git教程.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
			<integer>101</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>5df98ede0b1b43407e5d141db5fc08540620abc27db45c42af54d886b58c52b2</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
